<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gymondo Automation test cases">
  <test thread-count="5" name="Gymondo Automation">
    <classes>
      <class name="com.gymondo.testcase.appTestcases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
